.container4 {
    max-width: 1000px;
    min-width: 400px;
    margin: auto;
    padding: 2em;
    padding-top: 6em;
}
.log_user_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}