{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">      
        <link rel="stylesheet" href="{% static 'css/const.css' %}">   
        <link rel="stylesheet" href="{% static 'css/new.css' %}">
</head>
<body class="bg-dark text-white">
  <header>
    {% include 'parts/header.html' %}
  </header> 

  <div class="containerz container4">
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center">
                <!-- <img src="{{post.user_img.url}}" alt="User" class="user-image"> -->
                <div class="user-content">
                    <!-- <h5 class="mb-0"><a href="/profile/{{post.user}}">@{{post.user}}</a></h5> -->
                    <img src="{{post.image.url}}" class = "imgs">
                    <br>
                    <h7 class="mb-1">{{post.caption}}</h7>
                    <div class="flex space-x-4 lg:font-bold">
                            <div class="p-2 rounded-full text-black">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                    <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                </svg>
                                {% if post.likes == 0 %}
                                <p>No likes</p>
                                {% elif post.likes == 1 %}
                                <p>Liked by {{post.likes}} person</p>
                                {% else %}
                                <p>Liked by {{post.likes}} people</p>
                                {% endif %}
                            </div>
                        <button type="button" class="btn btn-danger"><a href="../delete_post/{{post.id_post}}">Delete</a></button>
                    </div>
                </div>
            </li>
        </ul>                
    </div>
<ul class="custom-list">
</ul>
{% include 'parts/popup.html' %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/messages.js' %}"></script>
			
</body>
</html>
