{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="favicon.png" rel="icon" type="image/png"> -->
    <title>Search</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">      
    <link rel="stylesheet" href="{% static 'css/const.css' %}"> 
</head>

<body class="bg-dark text-white">
    <header>
        <div id ="fixed">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">TellIT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <form  action="/search" method="POST" class="d-flex">
                            {% csrf_token %}
                            <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">&nbsp; &nbsp;
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </li>
                    </ul>
                    <div class="container">
                        <div class="dropdown float-right">
                            <img src="{{user_profile.profileimg.url}}" class="log_user_img  dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/profile/{{username}}">Profile</a>
                                <a class="dropdown-item" href="settings">Account setting</a>
                                <a class="dropdown-item" href="logout">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header> 
    <main>
        <div class="containerr container-fluid">
            <div class="container">
                <div class="row ng-scope">
                    
                    <div class="col-md-9 col-md-pull-3">
                        
                        {% for users in username_profile_list %}
                        <section class="list-group-item d-flex align-items-center">
                            <a class="image-link" href="/profile/{{users.user}}"><img class="log_user_img  image" src="{{users.profileimg.url}}">
                            </a>
                            <div class="search-result-item-body">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h4 class="search-result-item-heading"><a href="/profile/{{users.user}}"><b>@{{users.user}}</b></a></h4>
                                        <p class="info">{{users.location}}</p>
                                        <p class="description">{{users.bio}}</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        {% endfor %}
                    </div>
                </div>
                </div>
        </div>
    </main>
                
          

    </div>




    {% include 'parts/popup.html' %}
    <script src="{% static 'js/messages.js' %}"></script>


</body>


</html>