{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title zxc</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="{% static 'css/const.css'%}">
</head>
<body class="bg-dark text-white">
    <div class="container mt-5">
        <h2>Profile Settings</h2>
        <div>
            <style>
                h5{
                    color: red;
                }
            </style>
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          <!-- Profile Image Upload -->
          <div class="form-group">
            <label for="profileImage">Profile Image</label>
            <img class="log_user_img" src="{{user_profile.profileimg.url}}" />
            <input type="file" name="image" value="" class="form-control-file" id="profileImage">
          </div>
          <!-- Bio -->
          <div class="form-group">
            <label for="bio">Bio</label>
            <textarea class="form-control" id="bio" name="bio" rows="3">{{user_profile.bio}}</textarea>
          </div>
          <!-- Birthday -->
          <div class="form-group">
            <label for="birthday">Birthday</label>
            <input type="date" class="form-control" value="{{user_profile.birthday}}" name="birthday" id="birthday">
          </div>
          <!-- Buttons -->
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary"><a href="/">Cancel</a></button>
        </form>
      </div>
      <!-- Подключение JS Bootstrap и зависимостей -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.3/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>      
    <!--  -->
</html>
