{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - TellIT</title>
</head>

<body>


    <div id="wrapper" class="flex flex-col justify-between h-screen">

        <!-- header-->
        <div class="bg-white py-4 shadow dark:bg-gray-800">
            <div class="max-w-6xl mx-auto">


                <div>

                    <div>
                        
                        <a href="/signin" >Login</a>
                    </div>

                </div>
            </div>
        </div>

        <!-- Content-->

        <div>
            <div>
                <h1> Sign Up</h1>                

                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>
                
                
                <form action="" method="POST">
                    {% csrf_token %}

                    <input type="text" name="username" placeholder="Username" style="border: 1px solid #d3d5d8 !important;">
                    <input type="email" name="email" placeholder="Email" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="password" placeholder="Password" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="password2" placeholder="Confirm Password" style="border: 1px solid #d3d5d8 !important;">

                    <button type="submit" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Sign Up</button>
                    <div class="text-center mt-5 space-x-2">
                        <p class="text-base"> Do you have an account? <a href="signin"> Login </a></p>
                    </div>
                </form>



            </div>
        </div>

</body>


</html>