{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/const.css' %}"> 
</head>
<body class="bg-dark text-white">

<div id ="fixed">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">TellIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </li>
    </ul> -->
    <button class="btn btn-outline-success my-2 my-sm-0"><a class="nlink" href="signin">Log in</a></button>
  </div>
</nav>
</div>


    <div class="container3">
        <h2 class="my-4">Sign Up</h2>

        <!-- <div class="social-login">
            <button class="btn btn-danger btn-block">Sign up with Google</button>
            <button class="btn btn-light btn-block">Sign up with Apple</button>
        </div> -->

        <div class="custom-signup mt-4">
            <div>
                <style>
                    h5{
                        color: red;
                    }
                </style>
                {% for message in messages %}
                <h5>{{message}}</h5>
                {% endfor %}
            </div>

            <form action="" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="username">Username*</label>
                    <input type="text" name="username" class="form-control">
                </div>

                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password*</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input type="password" name="password2" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                <div class="text-center mt-5 space-x-2">
                    <p class="text-base"> Do you have an account? <a href="signin"> Login </a></p>
                </div>
            </form>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>


<!-- {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - TellIT</title>
</head>

<body>


    <div id="wrapper" class="flex flex-col justify-between h-screen">

        <div class="bg-white py-4 shadow dark:bg-gray-800">
            <div class="max-w-6xl mx-auto">


                <div>

                    <div>
                        
                        <a href="/signin" >Login</a>
                    </div>

                </div>
            </div>
        </div>


        <div>
            <div>
                <h1> Sign Up</h1>                

                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>
                
                
                <form action="" method="POST">
                    {% csrf_token %}

                    <input type="text" name="username" placeholder="Username" style="border: 1px solid #d3d5d8 !important;">
                    <input type="email" name="email" placeholder="Email" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="password" placeholder="Password" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="password2" placeholder="Confirm Password" style="border: 1px solid #d3d5d8 !important;">

                    <button type="submit" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Sign Up</button>
                    <div class="text-center mt-5 space-x-2">
                        <p class="text-base"> Do you have an account? <a href="signin"> Login </a></p>
                    </div>
                </form>



            </div>
        </div>

</body>


</html> -->