{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/const.css' %}"> 
</head>
<body data-messages='{{ messages_json|escapejs }}' class="bg-dark text-white">

    <div id ="fixed">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="index">TellIT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <button class="btn btn-outline-success my-2 my-sm-0"><a class="nlink" href="signup">Sing up</a></button>
      </div>
    </nav>
    </div>
    
    
        <div class="container3">
            <h2 class="my-4">Log in</h2>
            <div class="custom-signup mt-4">                
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username*</label>
                        <input type="text" name="username" placeholder="Username" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="password">Password*</label>
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>

                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    <div class="text-center mt-5 space-x-2">
                        <p class="text-base"> Not registered? <a href="signup" class=""> Create a account </a></p>
                    </div>
                </form>
            </div>
        </div>

        {% include 'parts/popup.html' %}
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="{% static 'js/messages.js' %}"></script>

    </body>
</html>