<div id="fixed">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">TellIT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form action="/search" method="POST" class="d-flex">
                        {% csrf_token %}
                        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">&nbsp; &nbsp;
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <div class="container">
                <div class="dropdown float-right">
                    <img src="{{user_profile.profileimg.url}}" class="log_user_img dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="profile/{{username}}">Profile</a>
                        <a class="dropdown-item" href="settings">Account setting</a>
                        <a class="dropdown-item" href="logout">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>